<!doctype html>
<%_ /*
    region header
    Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

    License
    -------

    This library written by Torben Sickert stand under a creative commons naming
    3.0 unported license. see http://creativecommons.org/licenses/by/3.0/deed.de
    endregion
*/ _%>
<html class="no-javascript" lang="en">
    <head>
        <meta charset="utf-8">
        <base href="/" />
        <!-- region prevent browser caching -->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <!-- endregion -->
        <title>playground</title>
        <style>
            body {
                margin: 0;
                padding: 0;
            }
        </style>
        <!-- region scope -->
        <script>
            schema = {
                title: 'options',
                properties: {
                    number: {
                        type: 'integer'
                    }
                }
            }
            scope = {
                parameter: {
                    number: 1
                }
            }
        </script>
        <!-- endregion -->
    </head>
    <body>
        <div root>
            <%%_ for (let index = 0; index < number; index += 1) { _%%>
                <div simpleEditable="simple">simple</div>
                <div simpleInitializedEditable="simpleContent">
                    simpleContent
                </div>
                <hr />
                <div editable="normal">normal</div>
                <div initializedEditable="normalContent">normalContent</div>
                <hr />
                <div advancedEditable="advanced">advanced</div>
                <div advancedInitializedEditable="advancedContent">
                    advancedContent
                </div>
                <div advancedInitializedEditable="advancedContentPlaceholder">
                    Start - ${parameter.number} - advancedContent
                </div>
            <%%_ } _%%>
            <angular-application>Angular is loading...</angular-application>
        </div>
        <script src="https://unpkg.com/systemjs@0.19.31/dist/system.js">
        </script>
        <script>
            websiteBuilder.index.$.WebsiteBuilder().then((instance) => {
                const runTestApplication =
                    websiteBuilder.angularTestApplication.default
                window.websiteBuilder = instance
                instance.registerOnChange((parameterHasChanged) =>
                    parameterHasChanged ? runTestApplication() : null)
            })
        </script>
    </body>
<html>
<%_ /*
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
*/ _%>
